.goldfinger-brand {
    cursor: pointer;
}

.background{
    height: 100vh;
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.91;
}