.btn-secondary{
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-secondary:hover{
    background-color: #c82333 !important;
    border-color: #c82333 !important;
}




.page-item.active .page-link {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.page-item.active .page-link:hover {
    color: #fff !important;
    background-color: #c82333 !important;
    border-color: #c82333 !important;
}

.page-link {
    color: #dc3545 !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.page-link:hover {
    color: #ffffff !important;
    background-color: #dc3545 !important;
    border: 1px solid #dee2e6 !important;
}